h3#doc_list_header {
    margin-bottom: 10px;
}

div.doc_list_container {
    display: inline-block;
    float: right;
}

ul.doc_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.doc_list li ul li{
    margin: 6px 30px;
}

li:last-child {
    margin-bottom: 20px !important;
}

ul.dev_info li {
    margin-top: 0.25em;
}