.flex-container {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.column {
    float: left;
    margin: 30px 30px 0px 0px;
}

#sidebar {
    margin-top: 110px;
}

#content {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    padding: 0px 0px 0px 30px;
}

/* Clear floats after the columns */
/*
.row:after {
  content: "";
  display: table;
  clear: both;

}
*/


h3 {
    margin-top: 0;
}

table {
    border: solid 1px #5A6650;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

thead th {
    background-color: #0E402D;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

tr {
    background-color: #F6F6F6;
}

tr:nth-child(even){
    background-color: #DDDDDD;
}

tbody td {
    border: solid 1px #5A6650;
    padding: 10px;
}