<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}IPS Metrics{% endblock %}</title>
</head>
<body>
<div class="flex-container">
    <div id="sidebar">
        {% block sidebar %}
        <a href="/metrics/upcoming/30">Due Within: 30 days</a><br>
        <a href="/metrics/upcoming/60">Due Within: 60 days</a><br>
        <a href="/metrics/upcoming/90">Due Within: 90 days</a><br>
        <a href="/metrics/upcoming/365">Due Within: 365 days</a><br>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>