<!DOCTYPE html>
<html lang="en" class="global xlarge large">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/skel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/style-xlarge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/ipf-detail.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}IPS Metrics{% endblock %}</title>
</head>
<body id="top">
<section id="main" class="wrapper style1">
    <header class="major">
        <img src="{% static 'metrics/logo.png' %}" width="475" height="160">
        {% block header %} {% endblock %}
    </header>
<div class="container big">
<div class="row">
    <ul class="nav">
        <li><a href="/metrics/upcoming/30">Due Within: 30 days</a></li>
        <li><a href="/metrics/upcoming/60">Due Within: 60 days</a></li>
        <li><a href="/metrics/upcoming/90">Due Within: 90 days</a></li>
        <li><a href="/metrics/upcoming/365">Due Within: 365 days</a></li>
    </ul>
</div>
<div class="row">
    <div class="12u skel-cell-important">
        {% block content %}{% endblock %}
    </div>
</div>
</div>
</section>
<footer id="footer">
    <div class="container big">
        <ul class="copyright">
            <li>CSS used with permission from: <a href="http://templated.co">TEMPLATED</a> </li>
        </ul>
    </div>
</footer>
<script src="{% static 'metrics/app.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>