{% extends "metrics/base.html" %}

{% block title %} IPF #{{ ipf_num }} - {{ tag }} {% endblock %}
{% block header %}<h2>IPF #{{ ipf_num }} - {{ tag }}</h2> {% endblock %}

{% block content %}
<div class="row">

    <div class="7u">
        <div class="doc_list_container">
        <h3 id="doc_list_header">Documents</h3>
        <ul class="doc_list">
            {% include "metrics/doc_item.html" with doc_items=documents %}
        </ul>

        {# {% for item in documents.items %} #}


            {# {% if not item.is_file %} #}
                {# {{ item }}<br> #}
            {# {% endif %} #}
        {# {% endfor %} #}

    </div></div>

    <div class="5u">
        <h3>Other Information</h3>
        <ul>
            <li>Site: {{ site }}</li>
            <li>Description: {{ description }}</li>
            <li>Last validated: {{ last_done }}</li>
            <li>Next validation due: {{next_due }}</li>
        </ul>
    </div>
</div>
{% endblock %}