{% extends "metrics/base.html" %}

{% block title %} Upcoming IPS Validations {% endblock %}
{% block header %}<h2>Validations Due - {{days}} Days</h2> {% endblock %}

{% block content %}
{% if rows and col_headers %}



{% block javascript %}
    <script>
        window.onload = function(){
            TableSorter.makeSortable(document.getElementById("upcoming_items"));
        };
    </script>
{% endblock %}




<div class="table-wrapper">
<table id="upcoming_items">
    <thead>
        <tr>
            {% for col_header in col_headers %}
            <th>{{ col_header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for k, v in row.items %}
                {% if k == "IPF Number" %}
                <td><a href="http://10.142.136.82:8000/metrics/ipf/{{v}}">{{ v }}</a></td>
                {% else %}
                <td>{{ v }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% else %}
<div class="-5u">Nothing due within the next {{days}} days.</div>
{% endif %}
{% endblock %}