{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'metrics/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming IPS Validations</title>
</head>

<body>
<div class="main_content">
{% if rows and col_headers %}
    <table>
        <thead>
            {% for col_header in col_headers %}
            <th>{{ col_header }}</th>
            {% endfor %}
        </thead>
        {% for row in rows %}
        <tr>
            {% for k, v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No results returned.</p>
{% endif %}
</div>
</body>
</html>