{% extends "metrics/base.html" %}

{% block title %} Upcoming IPS Validations {% endblock %}

{% block content %}
<h3>IPS Validations Coming Due</h3>
{% if rows and col_headers %}



{% block javascript %}
    <script>
        window.onload = function(){
            TableSorter.makeSortable(document.getElementById("upcoming_items"));
        };
    </script>
{% endblock %}





<table id="upcoming_items">
    <thead>
        <tr>
            {% for col_header in col_headers %}
            <th>{{ col_header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for k, v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>Nothing due within the next {{days}} days.</p>
{% endif %}
{% endblock %}